<div class="main">
    <div class="content">
        <div class="incon">
            <div>
                <img class="img" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook">
                <div class="phrase"> Facebook helps you connect and share
                    with the people in your life.
                </div>
            </div>
            <div class="box">
                <div>
                    <form>
                        <div class="margin">
                            <input type="text" class="inputarea" placeholder="Email address or phone number">
                        </div>
                        <div class="margin">
                            <input type="password" class="inputarea" placeholder="Password">
                        </div>
                        <div class="side">
                            <button class="login">Log In</button>
                        </div>
                        <div class="f_pwd">
                            <a class="forgotpwd" href="#">Forgotten password?</a>
                        </div>
                    </form>
                    <div class="line"></div>
                    <div class="centerbutton">
                        <button class="newaccount">Create New Account</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div>
    langu ll come here
</div>